<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class=" card">
      <div class="card-header">
        <h1 class="text-center">Create your user profile.</h1>
        <p class="text-center">Become a part of the Dev Match community by creating this profile.</p>
      </div>
      <div class="card-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
