<br>
<br>

<div class='row d-flex flex-row justify-content-around'>
  <div class='col-md-2 well d-flex flex-column '>
    <h4>Basic Membership</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum incidunt provident quod nam sequi perferendis?</p>
    <ul class="list-group">
      <li class="list-group-item">Free</li>
      <li class="list-group-item">Post Jobs</li>
      <li class="list-group-item">Hire</li>
      
      <%= link_to 'Sign Up Basic', new_user_registration_path(plan: @free_plan.id), class: 'mt-auto btn btn-block btn-lg btn-secondary' %>
    </ul>
  </div>

  <div class='col-md-2 well d-flex flex-column '>
    <h4>Standard Membership</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi illum natus explicabo quam enim sapiente!</p>
    <ul class="list-group">
      <li class="list-group-item">$5/month</li>
      <li class="list-group-item">Post Jobs</li>
      <li class="list-group-item">Hire</li>
      <li class="list-group-item">Boosted Ads</li>
      
      <%= link_to 'Sign Up Standard', new_user_registration_path(plan: @basic_plan.id), class: 'mt-auto btn btn-block btn-lg btn-primary' %>
    </ul>
  </div>

  <div class='col-md-2 well d-flex flex-column '>
    <h4>Premium</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo libero, id accusantium officiis veritatis praesentium!</p>
    <ul class="list-group">
      <li class="list-group-item">$10/month</li>
      <li class="list-group-item">Post Jobs</li>
      <li class="list-group-item">Hire</li>
      <li class="list-group-item">Super Boosted Ads</li>
      <li class="list-group-item">Instant Support</li>
      
      <%= link_to 'Sign Up Premium', new_user_registration_path(plan: @pro_plan.id), class: 'mt-auto btn btn-block btn-lg btn-yellow' %>
    </ul>
  </div>

</div>