// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.btn-yellow {
  background: rgb(255, 230, 0);
  color: #ffffff;
  border: none;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn-yellow:hover, .btn-yellow:focus {
  background: rgb(255, 175, 0);
  color: #ffffff;
}

.btn-yellow:active {
  background: rgb(255, 175, 0);
  color: #ffffff;
}

.alert-alert {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-notice {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.side-int {
  padding: 0 5px;
}

.side-spacing {
  display: flex;
  flex-direction: row;
}

.side-60 {
  width: 55%;
  float: left;
}

.side-40 {
  width: 35%;
  float: left;
}

.profile_info_group {
  font-size: 2rem;
  text-align: center;
}

.profile-name-view {
  font-size: 2.5rem;
  font-weight: bolder;
}

.banner-button {
  max-width: 28rem;
  background: rgb(228, 218, 127);
  border: 2px solid rgb(141, 141, 100);
  outline: 0.2rem solid rgb(141, 141, 100);
  outline-offset: 4px;
  font-size: 2rem;
  margin: 1rem 0;
  color: #fff;
  padding: 1rem 2rem;
  transition: all 1s ease;
  text-decoration: none;
}

.banner-button:hover {
  background: rgba(141, 141, 100, 0.6);
  border: 2px solid rgba(141, 141, 100, 0.6);
  outline: 0.2rem solid rgb(141, 141, 100);
  outline-offset: 4px;
  color: #fff;
  text-decoration: none;
}

.banner-button:active {
  color: #fff;
}

.banner-button:visited {
  color: #fff;
}

.flash-messages {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.row {
  margin: 2rem 0;
  padding: 2rem 0;
}

.show {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.profile-image {
  display: inline;
}

.profile-image img {
  border-radius: 50%;
}

.show-child {
  display: flex;
  flex-direction: column;
  max-width: 45%;
}

.job-title-icon {
  text-align: center;
  border: 2px solid grey;
  background: #333333;
  color: #fff;
  padding: 2px;
  border-radius: 5px;
}

.profile_info_group {
  padding: .5rem;
  display: inline;
}

.well .white-bg {
  background: white;
}

.custom-link {
  color: black;
  text-decoration: none;
}

.custom-link:hover {
  color: black;
  text-decoration: none;
}

.custom-title {
  font-size: 2.2rem;
  font-weight: bolder;
}

.subtitle {
  font-size: 1.2rem;
}

.navbar {
  margin: 0;
}

.plan-cards {
  min-height: 20rem;
}

header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}